Support of basic http client authentication

Server must support basic client authentication as described in RFC 6749 [Section 2.3.1](https://tools.ietf.org/html/rfc6749#section-2.3.1).