Check redirection uri when setup in client

The redirection endpoint URI MUST be an absolute URI as defined by [RFC3986] Section 4.3.